<!DOCTYPE html>
<head>
    <title>Chess Warfare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

    <center>
        <h2 class="text-success-emphasis pt-4 mb-1">
            <img src="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/SamCopeland/phpmeXx6V.png" style="max-width:4%">
            <a href="/" class="text-success-emphasis text-decoration-underline">Chess Warfare</a>
            <img src="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/SamCopeland/phpmeXx6V.png" style="max-width:4%">
        </h2>
        <h1 class="text-success pt-0">Duel Winner</h1>
    </center><br>

    {% for duel in duels %}
        <form action="/duelwin/{{duel.id}}" method="POST">{% csrf_token %}
            <input type="hidden" name="boardid" value="{{duel.board.id}}">
            {{duel.board}} 
            &nbsp;&nbsp; 
            <div class="form-check">
                <input class="form-check-input" type="radio" name="winnerid" id="exampleRadios1" value="{{duel.player1.id}}">
                <label class="form-check-label" for="exampleRadios2">
                    {{duel.player1}}
                </label>
            </div>
            &nbsp;&nbsp;
            <div class="form-check">
                <input class="form-check-input" type="radio" name="winnerid" id="exampleRadios1" value="{{duel.player1.id}}">
                <label class="form-check-label" for="exampleRadios2">
                    {{duel.player2}}
                </label>
            </div>
            <button type="submit">Announce Winner</button>
        </form>
    {% endfor %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>