<!DOCTYPE html>
<head>
    <title>Chess Warfare 2.O</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

    <center>
        {% if user.is_authenticated %}
        <h4 class="text-success pt-2" style="position:absolute; right:20px"><a href="/user/logout/">Logout</a></h4>
        {% else %}
        <h4 class="text-success pt-2" style="position:absolute; right:20px"><a href="/user/loginpage/">Login</a></h4>
        {% endif %}
        <h2 class="text-success-emphasis pt-4 mb-1">
            <img src="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/SamCopeland/phpmeXx6V.png" style="max-width:4%">
            <a href="/" class="text-success-emphasis text-decoration-underline">Chess Warfare 2.O</a>
            <img src="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/SamCopeland/phpmeXx6V.png" style="max-width:4%">
        </h2>
        <h1 class="text-success pt-0">Management System</h1>
    <br>
    
    <b>
    <h5 class="text-primary"><a href="/admin/chesswar/registration/">New Registration</a></h5><br>
    <h5 class="text-primary"><a href="/registrations/">All Registrations</a></h5><br>
    <h5 class="text-primary"><a href="/admin/chesswar/board/">New Board</a></h5><br>
    <h5 class="text-primary"><a href="/newduelpage/">Duel Setup</a></h5><br>
    <h5 class="text-primary"><a href="/duelwinpage/">Duel Winner</a></h5><br>
    <h5 class="text-primary"><a href="/allduels/">All Duels</a></h5><br>
    <h5 class="text-primary"><a href="/live/">Live Scoreboard</a></h5>
    </b></center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>